<div>

<h1>Create New Account</h1>

<form action="/users" method="post">
	<label for="username">Username:</label>
	<input type="text" name="user[username]" id="username" required>
	<label for="password">Password:</label>
	<input type="password" name="user[password]" id="password" required>
	<input type="submit" name="create_account" id="create_account" value="Create Account">
</form>




</div>