<div>
	<h1>Welcome, <%=@user.username%></h1>

	<br>
	<a href="/diets/new"><button>-New Diet-</button></a>

	<br>
	<br>
	
	<a href="/foods/new"><button>-Add New Food-</button></a>

	<br>

	<h3>Your Diets:</h3>

	<%@user.diets.each do |diet| %>

		<h5><a href="/diets/<%=diet.id%>"><%=diet.date%> - <%=diet.id%></a></h5>

	<%end%>



</div>
