<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <h2>The Diet Tracker</h2>

    <div class="content">
      <p>Welcome to the Diet Tracker App!</p>
    </div>

    <form action="/users/new" method="get">
    	<input type="submit" name="new_account" id="new_account">
    	
    </form>



  </div>
</div>
