<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <h2>The Diet Tracker</h2>

    <div class="content">
      <p>Welcome to the Diet Tracker App!</p>
    

		<br>
   

    	<h3>To begin, click the link to Create an Account or to Login above.</h3>

  </div>
</div>
